.home-sub-divisor-content{
    display: flex;
    justify-content: flex-start;
    grid-gap: 1em;
    width: 50%;
    padding-left: 3rem;
    font-family: monospace;
    min-height: 20rem;
    align-items: center;
}