<div class="home-about-me-description">
    <div class="home-about-me-description__content">
        <span class="home-about-me-description__content__section">
            Sobre mi
        </span>
        <div class="home-about-me-description__content__hi">
            Hola
        </div>
        <div class="home-about-me-description__content__resume">
            Soy un desarrollador de aplicaciones web y móviles con 8 años de experiencia en el liderazgo y desarrollo de proyectos tecnológicos. 
            Utilizo diversas tecnologías y soluciones para crear productos innovadores y de alta calidad, 
            siempre enfocándome en ofrecer una experiencia excepcional al usuario.
        </div>
    </div>

    <div class="home-about-me-description__contact">
        <div class="home-about-me-description__contact__title">
            Contacto
        </div>
        <div class="home-about-me-description__contact__list">
            <ul>
                <li>guesefrain.esp&#64;gmail.com</li>
                <li>(951) 282 86 01</li>
                <li>México</li>
                <li>https://github.com/gusfravo</li>
            </ul>
        </div>
    </div>

</div>