<div class="home-about-me-description">
    <div class="home-about-me-description__content">
        <span class="home-about-me-description__content__section">
            Sobre mi
        </span>
        <div class="home-about-me-description__content__hi">
            Hola
        </div>
        <div class="home-about-me-description__content__resume">
            Soy un desarrollador de aplicaciones web y móviles con 8 años de experiencia en el liderazgo y desarrollo de proyectos tecnológicos. 
            Utilizo diversas tecnologías y soluciones para crear productos innovadores y de alta calidad, 
            siempre enfocándome en ofrecer una experiencia excepcional al usuario.
        </div>
    </div>

    <div class="home-about-me-description__contact">
        <div class="home-about-me-description__contact__title">
            Contacto
        </div>
        <div class="home-about-me-description__contact__list">
            <ul>
                <li>
                    <div class="home-about-me-description__contact__list__avatar">
                        <img [src]="homeAboutMe.email" alt="email">
                    </div>
                    <div class="home-about-me-description__contact__list__item">
                        guesefrain.esp&#64;gmail.com
                    </div>
                </li>
                <li>
                    <div class="home-about-me-description__contact__list__avatar">
                        <img [src]="homeAboutMe.phone" alt="phone">
                    </div>
                    <div class="home-about-me-description__contact__list__item">
                        (951) 282 86 01
                    </div>
                </li>
                <li>
                    <div class="home-about-me-description__contact__list__avatar">
                        <img [src]="homeAboutMe.map" alt="map">
                    </div>
                    <div class="home-about-me-description__contact__list__item">
                        México
                    </div>
                </li>
                <li>
                    <div class="home-about-me-description__contact__list__avatar">
                        <img [src]="homeAboutMe.github" alt="github">
                    </div>
                    <div class="home-about-me-description__contact__list__item">
                        https://github.com/gusfravo
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>