.wrapper__card{
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 0px 0px 2.5rem 2.5rem;
    box-shadow: rgba(100, 100, 120, 0.2) 0px 7px 14px 5px;
    // max-height: 90vh;
    overflow: hidden;
}