<div class="home-about-me-skills">
    
    <div class="home-about-me-skills-content">
        <h2>Habilidades</h2>
        <div class="home-about-me-skills-content-images">
            @for (skill of skilss; track skill){
                <div class="home-about-me-skills-content-images-item-box">
                    <img src="{{skill}}" alt="html">
                </div>
            }
        </div>

        <h2>Proyectos</h2>
        <ul>
            <li>Aplicaciones Web</li>
            <li>Aplicaciones Moviles</li>
            <li>Sitios Web</li>
            <li>Ecommerce</li>
        </ul>
    </div>

</div>